.App {
  background-image: url(fondotenis.jpg);
  background-repeat: no-repeat;
  background-size:100vw;
  text-align: center;
  color: white
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 0px 50px 0px 50px;
  background-color:rgb(20, 11, 156);
  min-height: 10vh;  /* default 100vh  */
  display: grid;
  grid-template-columns: 30% 40% 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


#logouta{
  grid-column: 1/2;
}

#imgperfil{
  margin: auto;
  grid-column: 3/4;
  width: 100px;
}

.App-link {
  color: #61dafb;
}
/* Navbar */

/* Main */
main {
  height: 100vh;
}

/* LOGIN */
.login {
  text-align: left;
  width: 420px;
  height: 300px;
  border-style:ridge;
  border-width: 1vh;
  border: 10px 20px;
  padding: 2vw;
  margin: 10vw auto 10vw auto;
  background-color: rgb(20, 11, 156);
}
.login p{
  color: aliceblue;
  display: inline;
}
.user{
  width: 180px;
  display: inline-block;
  margin: 0px 0px 40px 35px;
}

.password{
  width: 180px;
  display: inline-block;
  margin: 0px 20px 40px 10px;
}

#login{
  display: block;
  float: left;
  margin-left: 1vw;
}

#register{
  display: block;
  float: right;
  margin-right: 1vw;
}
/* INTERFAZADMIN */
.InterfazAdmin {
  text-align: center;
  width: 97vw;
  height: 80vh;
  border-style:ridge;
  border-width: 1vh;
  border: 10px 20px;
  padding: 1vw;
  margin: 1vw auto 10vw auto;
  background-color: rgb(20, 11, 156);
}
.InterfazAdmin a{
  color: aliceblue;
  display: inline-blocks;
}
.opciones{
  text-align: left;
  width: auto;
  height: 200px;
}
.botones-admin{
  margin-top: 4vh;
  width: 25vw;
}
.botones-admin button{
  margin: 10px 10px 10px 10px;
  margin: 10px;
}



.resumen-actividades{
  display: inline-block;
  float: left;
  width: 70vw;
  height: auto;
}
.resumen-actividades h4{
  margin: 50px 0px 100px 0px;
}


.principal-horario{

}

.resumen-solicitudes{
  display: inline-block;
  float: right;
  width: 22vw;
  height: auto;
}
.resumen-solicitudes h4{
  margin: 50px 0px 100px 0px;
}
/* Cancha */
.Cancha {
  text-align: center;
  width: 97vw;
  height: 80vh;
  border-style:ridge;
  border-width: 1vh;
  border: 10px 20px;
  padding: 1vw;
  margin: 1vw auto 10vw auto;
  background-color: rgb(20, 11, 156);
}
.Cancha a{
  color: aliceblue;
  display: inline-blocks;
}


/* footer */
footer{

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
